*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    background-color: antiquewhite;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}


/* ---------------- NAVBAR ---------------- */

nav{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
   background-color:lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-image: url(Cover-image-milk-delivery-app-scaled.jpg);
}

.right_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.right_nav img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

li{
    list-style: none;
}
li:hover{
    color: lightgreen;
}

.right_nav li {

    font-size: 25px;
    font-weight: bold;
    color: green;
    cursor: pointer;
}

.right_nav h6{
    font-size: 9px;
    letter-spacing: 1px;
    color: gray;
    cursor: pointer;
}

.left_nav{
    display: flex;
    list-style: none;
    gap: 25px;
}
.left_nav a:hover{
    color: green;
}


.left_nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}


.contact{
    gap: 200px;
    display:flex;
    align-items: center;
    justify-content: center;    
    
}
 .image{
    width:30%;
}
.image img{
    width: 100%;
} 


/* Form */

form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    
}
input{
    height: 40px;
    border-radius: 10px;
    padding-left: 15px;
    border: 1px solid gray;
}

#message{
    height: 90px;
    padding-top: 10px;
}
input #message{
    padding-top: 10px;
}
button{
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: 1px solid gray;

}
.info{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.info h1{
    color: green;
    font-size: 30px;

}
.box{
    width: 30%;
    height: 450px;
    padding: 30px;
    border-radius: 20px;
    border: 1px solid #f8f8f8;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    transition: 0.5s;
    
}
.box:hover{
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    
}


@media (max-width: 768px) {

    body{
        height: auto;
    }

    nav{
        flex-direction: column;
        height: auto;
        padding: 15px;
        gap: 10px;
    }

    .left_nav{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    .right_nav{
        flex-direction: column;
        gap: 5px;
    }

    .contact{
        flex-direction: column;
        gap: 30px;
    }

    .box{
        width: 90%;
    }

    .image{
        width: 90%;
    }

    .right_nav li{
        font-size: 18px;
    }

    .info h1{
        font-size: 22px;
        text-align: center;
    }
}


@media (max-width: 1024px) {

    .contact{
        gap: 30px;
    }

    .box, .image{
        max-width: 350px;
    }
}
@media (max-width: 480px) {

    .contact{
        gap: 20px;
    }

    .box, .image{
        width: 100%;
    }
}