*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}

body{
  background:#fff;
  
}


/* ---------------- NAVBAR ---------------- */

nav{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
   background-color:lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-image: url(Cover-image-milk-delivery-app-scaled.jpg);
}

.right_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.right_nav img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

li{
    list-style: none;
}
li:hover{
    color: lightgreen;
}

.right_nav li {

    font-size: 25px;
    font-weight: bold;
    color: green;
    cursor: pointer;
}

.right_nav h6{
    font-size: 9px;
    letter-spacing: 1px;
    color: gray;
    cursor: pointer;
}

.left_nav{
    display: flex;
    list-style: none;
    gap: 25px;
}
.left_nav a:hover{
    color: green;
}


.left_nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}


/* HEADINGS */

.tag{
    display: flex;
    justify-content: center;
    align-items: center;
    color:#7dbb42;
    letter-spacing:3px;
    font-size:18px;
    margin-top:120px;
}

.title{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:36px;
    margin:15px 0 60px;
}

/* FEATURES */

.features-wrapper{
  display:flex;
  justify-content:center;
  align-items:center;
  gap:90px;
  
}

.feature-col{
    display:flex;
    flex-direction:column; 
    gap:40px;
}

.feature-item{
  display:flex;
  align-items:flex-start;
  gap:15px;
  
  
}

.feature-item h4{
  font-size:18px;
}

.feature-item p{
  font-size:14px;
  color:#777;
  margin-top:5px;
}

.dot{
  width:12px;
  height:12px;
  background:#7dbb42;
  border-radius:50%;
  margin-top:6px;
}

/* PHONE */

.phone img{
  width:350px;
  filter:drop-shadow(0 15px 30px rgba(1,1,0,10));
}