*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-image: url(milk-background-nn4uqvyma4v02ltr.jpg);
}

/* ---------------- NAVBAR ---------------- */

nav{
    width: 100%;
    height: 80px;
   background-image: url(Cover-image-milk-delivery-app-scaled.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.right_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.right_nav img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

li{
    list-style: none;
}
li:hover{
    color: lightgreen;
}

.right_nav li {

    font-size: 25px;
    font-weight: bold;
    color: green;
    cursor: pointer;
}

.right_nav h6{
    font-size: 9px;
    letter-spacing: 1px;
    color: gray;
    cursor: pointer;
}

.left_nav{
    display: flex;
    list-style: none;
    gap: 25px;
}
.left_nav a:hover{
    color: green;
}


.left_nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* ----------------  SECTION ---------------- */

section{
    width: 100%;
   
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* TEXT AREA */

.center{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    gap: 15px;
}

.center h1{
    font-size: 70px;
    font-weight: 900;
}

.center span{
    color: green;
}

.center p{
   
    margin-top: 5px;
    color:darkblue;
    max-width: 450px;
}

/* BUTTONS */

.btn-group{
    display: flex;
    gap: 30px;
    margin-top: 15px;
}

.btn-group button{
    padding: 12px 26px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease;
}

.btn-group button:hover{
    background-color: green;
}

.btn-group button:hover{
  transform:translateY(1px);
  box-shadow:0 10px 25px rgba(0,0,0,0.15);
  transition:0.3s;
}

/* IMAGE AREA */


.image-box{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img{
    width: 70%;
    
    height: 550px;
}

