
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
    background-color: #f8f8f8;
    
    
}

/* ---------------- NAVBAR ---------------- */

nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
   background-image: url(Cover-image-milk-delivery-app-scaled.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.right_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.right_nav img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

li{
    list-style: none;
}
li:hover{
    color: lightgreen;
}

.right_nav li {

    font-size: 25px;
    font-weight: bold;
    color: green;
    cursor: pointer;
}

.right_nav h6{
    font-size: 9px;
    letter-spacing: 1px;
    color: gray;
    cursor: pointer;
}

.left_nav{
    display: flex;
    list-style: none;
    gap: 25px;
}
.left_nav a:hover{
    color: green;
}


.left_nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* ---------------- REVIEWS ---------------- */

.reviews{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
    margin-top: 10%;
    /* background-color: aqua; */
}
.reviews h6{
    font-size: 18px;
    color: green;
    letter-spacing: 1px;
}
.reviews p{
    letter-spacing: 0.5px;
    line-height: 25px;
}
.review-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
    padding-left: 4%;

}
.review-image{
    width: 50%;
    
}
.review-image img{
    position: absolute;
    right: 200px;
    top: 150px;
    
}
.image{
    display: flex;
    gap: 20px;
    align-items: center;
}
.image h4{
    color: green;
    font-size: 20px;
    letter-spacing: 0.8px;
}
.image p{
    font-size: 14px;
    color: gray;
}
.image img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
    border: 3px solid black;
}