
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  
}

body{
  background:#f7efef;
  
}


/* ---------------- NAVBAR ---------------- */

nav{
    width: 100%;
    height: 80px;
    position: absolute;
    top: 0;
   background-color:lightblue;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    background-image: url(Cover-image-milk-delivery-app-scaled.jpg);
}

.right_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.right_nav img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

li{
    list-style: none;
}
li:hover{
    color: lightgreen;
}

.right_nav li {

    font-size: 25px;
    font-weight: bold;
    color: green;
    cursor: pointer;
}

.right_nav h6{
    font-size: 9px;
    letter-spacing: 1px;
    color: gray;
    cursor: pointer;
}

.left_nav{
    display: flex;
    list-style: none;
    gap: 25px;
}
.left_nav a:hover{
    color: green;
}


.left_nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* ---------------- Section ---------------- */

.torn{
    display: flex;
    width: 100%;
    height: 50vh;
    background-image: url(black-and-white-torn-paper-piece-png.png);
    background-repeat: no-repeat;
    margin-top: 15%;
}
.torn-right{
    width: 40%;
    height: 100%;
    padding:70px;
    color: white;
}
.image{
    width: 30%;
}
.image img{
    margin-top: 10px;
    width: 300px;
}

/* ---------------- Button ---------------- */


.btn-group{
    display: flex;
    gap: 30px;
    width: 300px;
    height: 50px;

}
button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    border-radius: 10px;
    border: none;
    transition:0.3s;
    
}
button:hover{
    background-color: green;
    color: white;
    cursor: pointer;
}
button:hover{
  transform:translateY(1px);
  box-shadow:5px 10px 10px #f7efef;
}



.side-image{
    position: absolute;
    right: 0px;
    
}
.side-image img{
    width: 550px;
    height: 400px;
}
.side-image img{
  width:550px;
  filter:drop-shadow(0 15px 30px rgba(1,1,0,10));
}