


*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
   
    background-color: #f8f8f8;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

/* ---------------- NAVBAR ---------------- */

nav{
    position: absolute;
    top: 0;
    width: 100%;
    height: 80px;
   background-image: url(Cover-image-milk-delivery-app-scaled.jpg);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.right_nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.right_nav img{
    width: 50px;
    height: 50px;
    border-radius: 30px;
}

li{
    list-style: none;
}
li:hover{
    color: lightgreen;
}

.right_nav li {

    font-size: 25px;
    font-weight: bold;
    color: green;
    cursor: pointer;
}

.right_nav h6{
    font-size: 9px;
    letter-spacing: 1px;
    color: gray;
    cursor: pointer;
}

.left_nav{
    display: flex;
    list-style: none;
    gap: 25px;
}
.left_nav a:hover{
    color: green;
}


.left_nav a{
    text-decoration: none;
    color: black;
    font-weight: 500;
}

/* Image */

img{
    width: 500px;
    height: 420px;
}
